.rows12
{
    margin-left: 0px;
    background-color:black;
    width: 100%;
    margin-top: 15px;
}
.footers
{
    border: solid 1px black;
    margin-top: 50px;
}
.boxes4 
{
    border: solid 1px black;
    position: absolute;
    background-color: aqua;
    padding: 10px;
    margin-top: 0px;
}
.footers h5{
    margin-left: 30px;
    color: white;
}
.footers p
{
    color: white;
    margin-top: 20px;
    font-weight: bolder;
}
.footers h4{
    color:rgb(39, 229, 243);
    font-size: 35px;
}
.booters 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.inputs
{
    width: 700px;
    border-bottom: solid 4px white;
    height: 50px;
    display: flex;
    width: 90%;
    
}
.inputs input
{
    width: 600px;
    border: none;
    background-color: none;
    outline: none;
    background: black;
    color: white;
    width: 100%;
}
.inputs p
{
    color: aquamarine;
}

.post
{
    display: flex;
    flex-direction: column;
}